<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-slides pager>

    <ion-slide>
      <img src="assets/pic1.jpg"><br>
    </ion-slide>
  
    <ion-slide>
      <img src="assets/pic2.jpg"><br>
     
    </ion-slide>
  
    <ion-slide>
      <img src="assets/pic3.jpg"><br>
   
    </ion-slide>

    <ion-slide>
      <img src="assets/pic4.jpg"><br>
    </ion-slide>
    
    <ion-slide>
      <img src="assets/pic5.jpg"><br>
    </ion-slide>

    <ion-slide>
      <img src="assets/pic6.jpg"><br>
    </ion-slide>
  
    <ion-slide>
      <img src="assets/pic7.jpg"><br>
    </ion-slide>
  
    <ion-slide>
      <img src="assets/pic8.jpg"><br>
     
    </ion-slide>
  
    <ion-slide>
      <img src="assets/pic9.jpg"><br>
   
    </ion-slide>

    <ion-slide>
      <img src="assets/pic10.jpg"><br>
    </ion-slide>
    
    <ion-slide>
      <img src="assets/pic11.jpg"><br>
    </ion-slide>

    <ion-slide>
      <img src="assets/pic12.jpg"><br>
    </ion-slide>
  
  </ion-slides>


</ion-content>
